{% comment %} <ul>
    {% for todo_item in object_list %}
    <li>
        <a href="{% url "polls:detail" pk=todo_item.pk %} ">
                {{ todo_item.title }}
        {% if todo_item.done %}
        ✅
        {% else %}
        ❌
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul> {% endcomment %}

<ul class="list-group">
    {% for todo_item in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'polls:detail' pk=todo_item.pk %}" class="text-decoration-none">
            {{ todo_item.title }}
        </a>
        <span>
            {% if todo_item.done %}
                <span class="badge bg-success">✅ Done</span>
            {% else %}
                <span class="badge bg-danger">❌ Not Done</span>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>